{% load staticfiles %}

{% include 'frontend/head.html' %}
<link rel="stylesheet" href="{% static 'frontend/css/table.css' %}"/>

<div class="clearfix"></div>
	<div class="portlet paddingless">
		<div class="portlet-title line">
			<div class="caption"><i class="icon-bell"></i>个人信息填写</div>
				<div class="tools">
					<a href="" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="" class="reload"></a>
					<a href="" class="remove"></a>
				</div>
			</div>

			<div class="portlet-body">
				<!--BEGIN TABS-->
				<div class="tabbable tabbable-custom">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab_1_1" data-toggle="tab">个人信息</a></li>

						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1_1">
							<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0" style = "height :auto;">
								<form action="{% url 'frontend:completeInfo' %}" method="post">
								        {% csrf_token %}   
								        <label for="input-username">学号</label>
								        <input type="text" name="username", value="{{user.username}}" id="input-username" disabled />
								        <br />

								        <label for="input-name">姓名</label>
								        <input type="text" name="name" id="input-name" />
								        <br />

								       <!-- <div class="span3">-->
								            <label class="demo-panel-title">性别</label>
								            <br />
								            <label class="radio">
								                <input type="radio" name="gender" value="男" checked="checked" id="input-gender" />
								            男
								            </label>
								            <label class="radio">
								                <input type="radio" name="gender" value="女" id="input-gender" />
								            女
								            </label>
								       <!-- </div>-->
								        <br>
								        <div>
								        <label for="department">院系</label>
								        <select id="department" name="department">
								            <option value=""> </option>
								            <option value="电子系">电子系</option>
								            <option value="计算机系">计算机系</option>
								            <option value="机械系">机械系</option>	        
								            <option value="热能系">热能系</option>
								            <option value="电机系">电机系</option>
								            <option value="自动化系">自动化系</option>
								        </select>
								        <br />

								        <label for="studentClass">班级</label>
								        <input class="text" name="studentClass" />
								        <br />
								    </div>
								        <input class="btn btn-primary" type="submit", value="submit" />
								    </form>
							</div>
						</div>
					</div>

				</div>
			</div>
	</div>

    





{% include 'frontend/foot.html' %}